/* Tobias Maätita
   CSS file supplying layout to github pages.*/
   /* Several of these instances are retrieved from https://www.w3schools.com/css/ */

/* fill viewport, hide scroll bar */
html, body
{
    height: 100%;
    overflow: scroll;
    background: white;
}

/* navbar */
.topnav
{
  background-color: #333;
  overflow: scroll;
}

.topnav a
{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover
{
    background-color: #3E99E9;
    color: black;
}

/* headers styles */
h1
{
  text-align: center;
  font-size: 25px;
  font-family: Arial;
}


/* paragraph style */
p
{
  font-family: Arial;
  text-align: justify;
  padding-top: 20px;
  padding-left: 20px;
}

/* ensure content is below navbar */
div.container-fluid
{
  padding-top: 20px;
  overflow: scroll;
  height: 100%;
}

ul
{
  list-style-type: none;
}

table
{
  border: 1px solid black;
  border-spacing: 100px;
  border-collapse: collapse;
}

td, th
{
  border: 1px solid black;
  padding: 15px;
}